.wapper {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    .inner {
        width: var(--max-width);
        height: 100%;
    }

    .heading {
        padding-top: 20px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;

        span {
            font-size: 17.5px;
        }
    }

    .container {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;

        .left {
            display: flex;
            justify-content: center;
            width: 40%;

            img {
                width: 300px;
                height: 300px;
            }
        }

        .right {
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                margin: 10px 0;
            }

            .product-name {
                font-size: 17px;
            }

            .product-price {
                font-size: 30px;
                color: #827c7c;
                font-weight: 600;
                text-align: center;
            }

            .product-description {
            }

            button {
                background-color: var(--primary-color);
                padding: 20px 50px;
            }
        }
    }
}
