.bottom {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.product-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 254px;
    text-align: center;
}
.text-upper {
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}
img {
    width: 100px;
    height: 100px;
}
.btn {
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    margin-right: 4px;
    text-transform: uppercase;
    background-color: transparent;
}

.waiting {
    background-color: palevioletred;
}
.done {
    background-color: aquamarine;
}
