@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Raleway:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
}
:root {
    --text-color: #232323;
    --margin-component: 20px;
    --max-width: 1100px;
    --padding-top-header: 120px;
    --primary-color: #39b2ac;
    --primary-background-color: #ffffff;
    --border-radius-btn: 8px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
button {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
li {
    list-style: none;
}
