.wrapper {
    // padding-top: var(--padding-top-header);
    box-shadow: 0 1px 3px 4px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 30px;
    background-color: var(--primary-background-color);

    header {
        text-transform: uppercase;
        text-align: center;
    }
    .inner {
        width: var(--max-width);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .product {
            position: relative;
            text-align: center;
            display: flex;
            margin-top: 10px;
            width: 260px;
            height: 400px;
            transition: 0.5s all ease;
            background-color: rgba(244, 245, 249, 1);
            &:hover .icon-heart {
                animation: displayEase 0.3s forwards;
            }
            &:hover img {
                padding: 20px;
            }
            @keyframes displayEase {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            .icon-heart {
                color: var(--text-color);
                font-size: 20px;
                position: absolute;
                right: 26px;
                top: 20px;
                opacity: 0;
            }
            img {
                margin: 12px auto;
                width: calc(100% - 32px);
                height: calc(60%);
                padding: 10px 8px;
                border: 1px solid black;
                transition: 0.5s all ease;
                background-color: #ffffff;
            }
            .heart-checked {
                color: var(--primary-color);
            }

            .bottom {
                position: absolute;
                bottom: 0;
                height: 140px;
                display: block;
                flex-direction: column;
                justify-content: center;

                .product-name {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .product-price {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    font-size: 13px;
                }
            }
        }
    }
}
