.wrapper {
    width: 85.6%;
    margin: 0 0 0 220px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 12%);

    .inner {
        .content {
            padding-top: 100px;
            width: 1200px;
            min-height: 683px;
            .heading {
                font-weight: 600;
                font-size: 20px;
                text-transform: uppercase;
                padding: 10px 0;
                text-align: center;
            }

            .add-info {
                padding: 6px;
                display: flex;
                flex-direction: column;

                label {
                    height: 30px;
                    width: 100px;
                    font-size: 18px;
                }

                textarea[name='name'] {
                    padding: 6px;
                    line-height: 100%;
                    resize: none;
                    word-wrap: normal;
                    width: 50%;
                    height: 30px;
                }

                input[name='file'] {
                }

                textarea[name='desc'] {
                    background-color: #fff;
                    width: 100%;
                    padding: 12px 20px;
                    resize: none;
                    height: 150px;
                    box-sizing: border-box;
                }
            }
            .btn {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                button {
                    color: #fff;
                    cursor: pointer;
                    padding: 10px 40px;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}
.label {
    display: flex;
    width: 150px;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    background: #dddddd;
    .input {
        border: none;
        position: absolute;
        top: -1000px;
    }
    .span {
        color: #000000;
        font-size: 16;
        font-weight: 500;
    }
    &:hover {
    }
    &:active {
        background: #9fa1a0;
    }
    &:invalid + .span {
        color: #000000;
    }
    &:valid {
        color: #ffffff;
    }
}

.img {
    border: 1px solid #ccc;
}
