.wrapper {
    width: 86.6%;
    margin: 0 0 0 200px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 12%);

    .inner {
        .content {
            padding-top: 100px;
            .heading {
                font-weight: 600;
                font-size: 20px;
                text-transform: uppercase;
                padding: 10px 0;
                text-align: center;
            }

            .add-info {
                padding: 6px;
                display: flex;
                flex-direction: column;

                label {
                    font-size: 18px;
                }

                textarea[name='name'] {
                    padding: 6px;
                    line-height: 100%;
                    resize: none;
                    word-wrap: normal;
                    width: 50%;
                    height: 30px;
                }

                input[name='file'] {
                }

                textarea[name='desc'] {
                    background-color: #f8f8f8;
                    width: 100%;
                    padding: 12px 20px;
                    resize: none;
                    height: 150px;
                    box-sizing: border-box;
                }
            }
            .btn {
                margin-top: 20px;
                display: flex;
                justify-content: center;

                button {
                    color: #fff;
                    cursor: pointer;
                    padding: 10px 40px;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}
