.wrapper {
    // padding-top: var(--padding-top-header);
    box-shadow: 0 1px 3px 4px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 30px;
    background-color: var(--primary-background-color);

    header {
        text-transform: uppercase;
        text-align: center;
    }
    .inner {
        width: var(--max-width);
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .product {
            position: relative;
            text-align: center;
            margin-top: 10px;
            width: 260px;
            height: 400px;
            box-shadow: 0px 1px 1px 3px rgb(0 0 0 / 12%);

            .top {
                position: relative;
                transition: all 0.5 ease-in;

                img {
                    position: absolute;
                    left: 0;
                    width: 260px;
                    height: 260px;
                    transition: 0.3;

                    &:hover ~ .pay{
                    }
                   
                    
                }
                
            }

            .bottom {
                position: absolute;
                bottom: 0;
                height: 140px;
                display: block;
                flex-direction: column;
                justify-content: center;

                .product-name {

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .product-price {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    font-size: 13px;
                }
            }

        }
    }
}