.wrapper {
    // padding-top: var(--padding-top-header);
    box-shadow: 0 1px 3px 4px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: var(--primary-background-color);

    header { 
        text-transform: uppercase;
        padding: 10px;
    }
    
    .inner {
        width: var(--max-width);
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        flex-wrap: wrap;

        .container{}
        .product {
            position: relative;
            text-align: center;
            margin-top: 10px;
            width: 260px;
            height: 400px;
            box-shadow: 0px 1px 1px 3px rgb(0 0 0 / 12%);

            .top {
                position: absolute;
                width: 260px;

                img {
                    
                    width: 260px;
                    height: 260px;

                    &:hover {
                    }
                }
                .sale { 
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: purple;
                }
            }

            .bottom {
                position: relative;
                top: 260px;
                height: 140px;
                display: block;
                flex-direction: column;
                justify-content: center;

                .product-name {

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .product-price {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    font-size: 13px;
                }
            }

        }
    }
}