.wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.inner {
    display: flex;
    justify-content: center;
    width: var(--max-width);
}

.form {
    min-height: 300px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.container {
    border-radius: var(--border-radius-btn);
    padding: 20px;
    p {
        color: rgb(126 124 125);
        text-align: center;
    }
}

.heading {
    text-align: center;
}

.title {
    margin-top: 14px;
    display: block;
}

.input {
    font-size: 16px;
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    :focus {
        border-color: black;
    }
}
span {
    font-size: 12px;
}
.btn {
    cursor: pointer;
    justify-content: center;
    display: flex;
    border: 1px solid #ccc;
    padding: 10px 40px;
    margin: 14px auto;
    background-color: var(--primary-color);
    color: #fff !important;

    &:hover {
        opacity: 0.8;
    }
    .btn.warning {
        cursor: none;
        background-color: red;
    }
}
