.search-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    height: 1280px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#search-product-list {
    position: absolute;
    top: 100%;
    box-shadow: 0px 1px 4px 2px rgb(0 0 0 / 12%);
    background-color: #ffffff;
    z-index: 50;
    max-height: 300px;
    overflow-y: auto;
}
span:hover {
    text-decoration: underline;
}
.icon {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
img {
    height: 60px;
    width: 60px;
}
span {
}
.hide {
    display: none;
}
li {
    margin: 10px auto;
    display: flex;
    width: 300px;
}
li.hide {
    display: none;
}
.search-input {
    width: 300px;
    height: 40px;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    padding: 6px 0 6px 6px;
    background-color: #ffffff;
    border: 1px solid rgba(22, 24, 35, 0.2);
}
