.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 720px;
    padding-top: 120px;

}

.inner {
    display: flex;
    justify-content: center;
    width: var(--max-width);
}

.form {
    width: 300px;
    box-shadow: 0 1px 3px 4px rgb(0 0 0 / 12%);
}

.container {
    position: relative;
    padding: 20px;
    height: 100%;
    p {
        color: rgb(126 124 125);
        text-align: center;
    }
}

.heading {
    text-align: center;
}

.title {
    margin-top: 14px;
    display: block;
}

.input {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px 40px;
    margin: 10px 0 ;
    background-color: var(--primary-color);
    color: #fff !important;
    
    img {
        width: 20px;
        height: 20px;
    }
    &:hover {
        opacity: 0.8;
    }
}