@import 'react-slideshow-image/dist/styles.css';

.wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.inner {
    width: 100%;
    min-height: 350px;

    .banner-img {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 350px;
    }

    .each-slide {
        position: relative;
        color: #ffffff;
        height: 328px;
    }

    span {
        z-index: 30;
        position: absolute;
        color: #ffffff;
        transform: translate(996px, 128px);
    }
    p {
        margin-left: 16px;
        display: inline;
        color: #ffffff;
    }
    h1 {
        display: inline;
        font-size: 30px;
        font-weight: 400;
        color: #ffffff;
    }
    h4 {
        width: 300px;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
    }
    .btn {
        color: #fff;
        position: absolute;
        right: 0;
        margin-top: 10px;
        padding: 12px 30px;
        background-color: rgba(239, 92, 110);
    }
}
