.wrapper {

    width: 1270px;
    height: 600px;
    margin: 60px 0 0 210px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 12%);

    .inner {
        .content {
            position: relative;

            .heading {
                font-weight: 600;
                font-size: 20px;
                text-transform: uppercase;
                padding: 10px 0;
                text-align: center;
            }
            .heading-icon {
                position: absolute;
                top: 0;
                right: 0;
                background-color: rgb(248 215 218 / 1);
                button { 
                    background-color: transparent;
                    cursor: pointer;
                    padding: 8px 14px;
                    font-size: 20px;
                }
            }

            .add-info {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 18px;
                }

                textarea[name=name] {
                    padding: 6px;
                    line-height: 100%;
                    resize: none;
                    word-wrap: normal;
                    width: 50%;
                    height: 30px;
                }

                input[name=file] {

                }

                textarea[name=desc] {
                    background-color: #f8f8f8;
                    width: 100%;
                    padding: 12px 20px;
                    resize: none;
                    height: 150px;
                    box-sizing: border-box;
                }
            }
            .btn{ 
                margin-top: 20px;
                display: flex;
                justify-content: center;
                
                button { 
                    cursor: pointer;
                    padding: 10px 40px;
                    background-color: var(--primary-color);
                }
            }
        }
    }
}