.wrapper {
    width: 100%;
    margin: 70px 0 0 210px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 12%);

    .inner {
        display: flex;

        .container {
            .product-info {
                width: 1270px;

                .heading {
                    font-weight: 600;
                    font-size: 20px;
                    text-transform: uppercase;
                    padding: 10px 0;
                    text-align: center;
                }

                .content {
                    .top {
                        display: flex;
                        justify-content: space-around;
                        border-bottom: 1px solid #ccc;
                        padding: 10px;
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-around;
                        border-bottom: 1px solid #ccc;
                        padding: 10px;

                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }

    .product-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        width: 254px;
        text-align: center;

        button {
            cursor: pointer;
            padding: 10px;
            margin-right: 4px;
            text-transform: uppercase;
            background-color: transparent;
            // background-color: var(--primary-color);
            &:first-child {
                background-color: #d1e7dd;
            }
            &:last-child {
                background-color: #f8d7da;
            }
        }
    }
}
