.wrapper {
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;

    .inner {
        position: relative;
        padding-top: 100px;
        width: var(--max-width);

        .order-place {
            box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 12%);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 24px;
            margin-bottom: 10px;

            .place-info {
                display: flex;
                justify-content: space-between;
            }

            .place-heading {
                display: flex;
                align-items: center;

                span {
                    text-transform: uppercase;
                    margin-right: 50px;
                }

                .place-heading-icon {
                    padding-right: 10px;
                }
            }

            .contact {
                display: flex;
                flex-direction: row;
                p {
                    margin-left: 10px;
                }

                h4 {
                    margin-left: 24px;
                    font-size: 18px;
                }

                .change {
                    Link {
                        color: red;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .address {
                margin: 0 20px;
                span {
                    margin: 0 20px;
                    font-size: 18px;
                }
            }
        }

        .order-bill {
            margin-bottom: 10px;
            box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 12%);
            padding: 24px;

            .bill-heading {
                display: flex;
                align-items: center;
                height: 80px;
                justify-content: space-between;
            }

            .title {
                display: flex;
                text-align: center;
                width: 50%;
            }

            .heading-title {
                width: 33%;
            }

            .bill-info {
                display: flex;
                margin: 20px 0;
                align-items: center;
                justify-content: space-between;

                .product-info {
                    display: flex;
                    align-items: center;
                    width: 50%;
                }

                img {
                    height: 70px;
                    width: 70px;
                }

                span {
                }

                .product-bill {
                    width: 50%;

                    .bill-price {
                        width: 33.333;
                    }

                    .bill-quality {
                    }

                    .bill-total {
                    }
                }
            }
        }

        .order {
            position: absolute;
            right: 0;
            width: 250px;
            box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 12%);

            .order-container {
                display: flex;
                justify-content: space-between;

                span {
                    padding: 10px;
                }
            }

            .btn {
                display: flex;
                justify-content: center;
            }

            .order-btn {
                width: 80%;
                padding: 20px 40px;
                margin-bottom: 20px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.change span {
    color: var(--primary-color);
}
