// .wrapper * {
//     border: 1px solid black;
// }
.wrapper {
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    margin-top: var(--margin-component);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(69 117 216/0.05);
    .container {
        padding: 20px;
        width: var(--max-width);
        .top {
            display: flex;
            justify-content: space-between;
            .logo {
                padding: 10px;
                width: 60px;
                height: 60px;
            }
            .webflow {
                margin: auto 0;
                padding: 6px 10px;
                height: 40px;
                color: #ffffff;
                background-color: var(--primary-color);
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                .webflow-img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .mid {
            display: flex;
            justify-content: space-between;
            .about {
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 18px;
                    font-weight: 600;
                }
                .desc {
                    display: flex;
                    justify-content: space-around;
                    width: 200px;
                    margin-top: 8px;
                }
                .desc-aboutus {
                    margin-top: 8px;
                }
                .desc-img {
                    background-color: #ffffff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 10px 20px -8px rgb(0 111 255 / 53%);
                    transition: all 0.25s linear;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    &:hover .social {
                        background-color: black;
                        transform: translateY(-4px);
                    }
                    &:hover {
                        background-color: black;
                    }
                }
                .social {
                    background-color: #ffffff;
                    transition: all 0.25s linear;
                    width: 26px;
                    height: 26px;
                }
                p {
                    margin: 10px 0;
                }
            }
        }
        .bot {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            .copyright {
                font-weight: 600;
                span {
                    margin-left: 20px;
                }
            }
        }
    }
}
