.wrapper {
    box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
    margin-top: var(--margin-component);
    width: 100%;
    display: flex;
    justify-content: center;


    .inner {
        width: var(--max-width);
        display: flex;
        justify-content: center;
        flex-direction: column;

        .top {
            display: flex;
            justify-content: space-around;

            .container {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 10px;

                .heading {
                    font-weight: 500;
                    font-size: 16px;
                }

                Link {}

                img {
                    width: 250px;
                    height: 140px;
                }
            }
        }

        .bottom {

            .container {
                display: flex;

                h1 {
                    width: 50%;
                }

                div {
                    width: 50%;
                }
            }
        }

    }
}