.wrapper { 
    
    width: 1270px;
    height: 600px;
    margin: 60px 0 0 210px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 12%);
    .inner { 

        
    }
}